*{
    font-family: 'Nunito';
    box-sizing: border-box;
}
body{
    background-color: #232323;
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 3em 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas: 
    'topbar topbar topbar'
    'displays devices editor'
    'displays devices editor'
    'displays devices editor';
}

header{
    grid-area: topbar;
    height: 100%;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #353535;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 1em;
    gap: 1em;
}
header button{
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #bbb;
    outline: none;
    padding: 0.3em;
    cursor: pointer;
}
header button:hover{
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    color: #bbb;
    outline: none;
    padding: 0.3em;
    cursor: pointer;
}
header .back-btn{
    border-radius: 5px;
    border: none;
    background-color: #ffc72d;
    
    color: #000;
    text-decoration: none;
    padding: 0.3em;
    cursor: pointer;
}
#displays{
    grid-area: displays;
    border: 1px solid #353535;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}
.display{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
}
#processors{
    grid-area: processors;
    border: 1px solid #353535;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}
.device{
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5em;
    margin: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    border-radius: 10px;
    cursor: pointer;
}
.device.selected{
    background-color: rgba(255, 255, 255, 0.1);
}
/* TEMP stuff */
.device.selected2{
    background-color: rgba(100, 100, 255, 0.1);
}
/*This is really stupid */
.switch{
    position: relative;
    top: 0;
    left: 0;
}
.switch-btn{
    position: relative;
    top: -41.6px;
}
.hidden{
    visibility:hidden;
}
#editor{
    grid-area: editor;
    display: flex;
    flex-direction: column;
    border: 1px solid #353535;
}
.editor_tools{
    width: 100%;
    align-items: center;
    /* justify-content: right; */
    height: 5%;
    background-color: #353535;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.editor_tools .btn{
    width: 2em;
    height: 90%;
    cursor: pointer;
}
.editor_tools .btn:hover{
    background-color: rgba(0,0,0,0.3);
}
#code{
    flex: 2;
    border-bottom: 2px solid #353535;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#code textarea{
    flex: 1;
    resize: none;
    outline: none;
    background: transparent;
    color: #bbb;
}
#code .breakpoint{
    background-color: rgba(200, 50, 50, 0.5);
}
#debug{
    flex: 1;
}
canvas {
    transform: scaleY(-1);
    background-color: #565666;
    
}
.border{
    border: 4px ridge #A5AEB5;
}

body{
    background-color: #232323;
    margin: 0;
}
.device-name{
    user-select: none;
    color: #bbb;
}
.exec-controlls{
    width: 30px;
    height: 100%;
}
.instruction{
    color: #bbb;
    padding-left: 5px;
    height: 20px;
    display: block;
    text-align: center;
}
.line-number{
    user-select: none;
    color: #bbb;
    width: 32px;
    height: 20px;
    display: block;
    text-align: center;
}
.code-line{
    display: inline-flex;
}
.highlighten{
    background: #101010;
}
.variable-text{
    color: #bbb;
    display: inline-block;
    margin: 10px;
}
.code-input{
    width: 100%;
    resize: none;
    outline: none;
    height: 100%;
    background: rgba(0,0,0,0);
    color: #bbb;
}
.dropdown {
   position: absolute;
   right: 15px;
   display: inline-block;
}
.dropdown-btn{
    width: 40px;
    height: 40px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #232323;
  width: 160px;
  left: -300%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content button{
    margin-top: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content p{
    background-color: red;
}