@font-face {
    font-family: 'Mindustry';
    src: url('resources/mindustry.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
*{
    font-family: 'Mindustry';
    box-sizing: border-box;
}
body{
    background-color: #232323;
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 3em 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas: 
    'topbar topbar topbar'
    'displays devices editor'
    'displays devices editor'
    'displays devices editor';
}

header{
    grid-area: topbar;
    height: 100%;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #353535;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 1em;
    gap: 1em;
}
header .back-btn{
    border-radius: 5px;
    border: none;
    background-color: #ffc72d;
    user-select: none;
    color: #000;
    text-decoration: none;
    padding: 0.3em;
    cursor: pointer;
}
#displays{
    grid-area: displays;
    border: 1px solid #353535;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}
.display{
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
}
#processors{
    grid-area: processors;
    border: 1px solid #353535;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}
.device{
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5em;
    margin: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    border-radius: 10px;
    cursor: pointer;
}
.device.selected{
    background-color: rgba(255, 255, 255, 0.1);
}
/* TEMP stuff */
.device.selected2{
    background-color: rgba(100, 100, 255, 0.1);
}
/*This is really stupid */
.switch{
    position: relative;
    top: 0;
    left: 0;
}
.switch-btn{
    position: relative;
    top: -41.6px;
}
.hidden{
    visibility:hidden;
}
#editor{
    grid-area: editor;
    display: flex;
    flex-direction: column;
    border: 1px solid #353535;
}
.editor-tools{
    width: 100%;
    align-items: center;
    user-select: none;
    height: 5%;
    background-color: #353535;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.editor-tools .btn{
    width: 1.7vw;
    margin-left: 10px;
    margin-top: 0.7vh;
    cursor: pointer;
}
.editor-tools .btn:hover{
    background-color: rgba(0,0,0,0.3);
}
#code{
    flex: 2;
    border-bottom: 2px solid #353535;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#code textarea{
    flex: 1;
    resize: none;
    outline: none;
    background: transparent;
    color: #bbb;
}
#code .breakpoint{
    background-color: rgba(200, 50, 50, 0.5);
}
#debug{
    overflow-y: auto;
    flex: 1;
}
canvas {
    transform: scaleY(-1);
    background-color: #565666;
    
}
.border{
    border: 4px ridge #A5AEB5;
}

body{
    background-color: #232323;
    margin: 0;
}
.device-name{
    user-select: none;
    color: #bbb;
}
img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.exec-controlls{
    width: 30px;
    height: 100%;
}
.instruction-text{
    font-family: "Source Code Pro";
    padding-left: 5px;
    height: 20px;
    display: block;
    text-align: center;
}
.line-number{
    font-family: "Source Code Pro";
    user-select: none;
    color: #858585;
    width: 32px;
    display: block;
    text-align: center;
}
.code-line{
    display: inline-flex;
}
.highlighten{
    background: #101010;
}
.highlighten .line-number{
    color: #c6c6c6;
}
.variable-name{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}
.variable-text{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.code-input{
    font-family: "Source Code Pro";
    width: 100%;
    resize: none;
    outline: none;
    height: 100%;
    background: rgba(0,0,0,0);
    color: #bbb;
}
.dropdown {
    width: 2%;
    padding-top: 0.5%;
    display: inline-block;
}
.dropdown-btn{
    width: 75%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #232323;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  width: 180px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content button{
    margin-top: 5%;
    padding: 4%;
    user-select: none;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #bbb;
    outline: 1px solid #bbb;
    padding: 0.3em;
    cursor: pointer;
}
.propertie-line{
    display: inline-flex;
}
.properie-textarea{
    height: 20px;
    resize: none;
    overflow-y: hidden;
    margin-left: 15px;
}
.propertie-name{
    color: #bbb;
    text-align: center;
}